.itemlist-loader {
    border: 20px solid #f3f3f3; /* Light grey */
    border-top: 20px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    position: fixed;
    left: 50%;
    top: 45%;
    margin-top: -50px;
    margin-left: -65px;
}